.loadMore_text_box {
  padding-top: 50px;
}
.loadMore_text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  text-align: justified;
  color: hsla(0, 0%, 98%, 1);
}
.box_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 89px;
}
.inner_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 180px;
  height: 48px;
  border-radius: 10px;
  border: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: hsla(0, 0%, 100%, 1);
  background-color: hsla(234, 100%, 61%, 1);
  cursor: pointer;
}

.inner_button[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}
