.box_team {
  position: relative;
  transition: ease-in;
}
.box_team:hover .team_overlay {
  opacity: 1;
  transform: scaleY(1);
}
.team_overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: hsl(235, 32%, 63%);
  border-radius: 10px;
  opacity: 0;
}
.inner_team_image {
  width: 100%;
}
.inner_team_image img {
  width: 100%;
}
.team_surname {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  padding-top: 18px;
  padding-left: 14px;
  color: hsla(0, 0%, 98%, 1);
}
.team_position {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: justified;
  padding-top: 8px;
  padding-left: 14px;
  padding-bottom: 18px;
  color: hsla(0, 0%, 98%, 1);
}
@media screen and (max-width: 1200px) {
  .inner_team_image img {
    /* width: calc((100% - 24px) / 2); */
  }
}
@media screen and (max-width: 600px) {
  .inner_team_image img {
    width: calc(100%);
  }
}
